:root {
  --border-radius: 1rem;
}

:root:not([data-theme="dark"]),
[data-theme="light"] {
  --font-family: "Inter", system-ui, -apple-system, "Segoe UI", "Roboto",
    "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --primary: #f1577c;
  --primary-hover: #ef476f;
  --muted-color: #566672;
  --spacing: 1rem;
  --nav-border-color: rgba(115, 130, 140, 0.2);
}

body {
  letter-spacing: -0.01em;
}

h1 {
  letter-spacing: -0.05em;
}

b,
strong {
  font-weight: 700;
}

[role="button"],
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  --border-radius: 3rem;
  letter-spacing: -0.01em;
}

header {
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}

header :is(h1, p, .grid) {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

header :is(h1) {
  margin-bottom: var(--spacing);
}

header :is(p) {
  max-width: 42rem;
}

header .grid {
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  max-width: 20rem;
  margin: calc(var(--spacing) * 3) auto var(--spacing);
}

header :is(h1, h2) ~ p {
  color: var(--muted-color);
}

header :is(h1) {
  margin-top: calc(var(--spacing) * 3);
}

header :is(h2) {
  margin-bottom: var(--spacing);
}

header h1 span,
header h2 span {
  display: block;
}

article {
  border: 2px solid var(--nav-border-color);
  box-shadow: none;
}

.logo img {
  width: 135px;
}

#overview .grid article.tab {
  margin-bottom: 1rem;
}

.tab button {
  text-align: left;
  border: none;
  outline: none;
  padding: 14px 16px;
}

.tab button:not(.active) {
  background-color: inherit;
}

.tab button.active {
  background-color: #223444;
}

.tab-content {
  display: none;
  padding: 6px 12px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.tab2 .tab2-links {
  cursor: pointer;
  padding: 16px 0;
  text-align: center;
  text-decoration: none;
}

.tab2 .tab2-links.active {
  background-color: #f5f5f5;
}

.tab2-content {
  display: none;
}

body > footer {
  background-color: var(--background-color);
}

body > footer ul {
  padding: 0;
}

body > footer ul:first-of-type {
  margin-bottom: calc(var(--spacing) * 0.5);
}

body > footer ul:first-of-type a {
  text-decoration: none;
}

body > footer ul li {
  color: var(--muted-color);
  display: inline-block;
  margin-bottom: 0;
  list-style: none;
}

body > footer li:not(:first-child)::before {
  margin: 0 0.25rem;
  content: "·";
}

.monospace {
  font-family: monospace;
}

.openpage hgroup:after {
  display: block;
  max-width: 100px;
  margin-top: 1rem;
  border-bottom: 0.125rem solid var(--primary);
  content: "";
}

.openpage article {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 2rem 2rem 1rem;
}

.text-gradient {
  --tw-gradient-stops: #50c3e5, var(--tw-gradient-to, rgba(239, 68, 68, 0));
  --tw-gradient-to: #3b82f6;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  color: transparent;
}

.text-gradient-golden {
  --tw-gradient-stops: #dd9945, var(--tw-gradient-to, rgba(239, 68, 68, 0));
  --tw-gradient-to: #95572c;
}

.text-gradient-red {
  --tw-gradient-stops: #e91e63, var(--tw-gradient-to, rgba(239, 68, 68, 0));
  --tw-gradient-to: #f44336;
}

thead.mt-1:before {
  content: "@";
  display: block;
  line-height: 1rem;
  text-indent: -99999px;
}

.container-fluid {
  border-bottom: 1px solid var(--nav-border-color);
}

.space-x-4 > * + * {
  margin-left: 1rem;
}

#features,
#donate {
  padding-top: 4rem;
}

#features hgroup {
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--block-spacing-vertical);
}

#features .grid {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

@media (min-width: 768px) {
  #features .grid {
    grid-template-columns: 1fr 1fr;
  }
}
#features hgroup {
  text-align: center;
}
#features hgroup h2 {
  margin-bottom: var(--spacing);
}
#features hgroup:after {
  display: none;
}
#features h3 {
  --font-weight: 400;
}
#features svg {
  color: var(--primary);
  width: auto;
  height: 2rem;
  background: #f1f1f1;
  border-radius: 50%;
  padding: 0.4rem;
}
#features h4 {
  --font-size: 1rem;
  --font-weight: 400;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#features p {
  --color: var(--muted-color);
}

#donate header {
  border: 4px solid var(--range-border-color);
  border-radius: 8px;
  padding: 2rem 1rem !important;
}

#crypto {
  max-width: fit-content;
  margin: auto;
  margin-top: 1.5rem;
  margin-left: -1.5rem;
}

#crypto p {
  text-align: left;
  margin-bottom: 0.5rem;
  font-size: 11px;
  display: flex;
  align-items: center;
}

#crypto p span {
  margin-left: 8px;
}

#how-to-use {
  padding-top: 1rem;
}

#how-to-use article {
  margin-top: 2rem;
  border: none;
  padding: 0;
}

.donate-links {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
}

.donate-links > * + * {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.btn-sm {
  padding: 0.5rem 0.9rem;
}

@media (max-width: 576px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav ul {
    justify-content: center;
  }

  header :is(h1) {
    font-size: 1.5rem;
    margin-top: calc(var(--spacing) * 2);
  }

  header :is(h2) {
    font-size: 1.4rem;
  }

  .sm\:p-0 {
    padding: 0 !important;
  }

  body > footer ul:last-of-type li {
    display: block;
  }

  body > footer ul:last-of-type li:not(:first-child)::before {
    display: none;
  }
}

@media (min-width: 375px) {
  #crypto {
    margin-left: 0;
  }
}

@media (min-width: 576px) {
  #crypto {
    margin-left: auto;
  }

  #crypto p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  header h1 span,
  header h2 span {
    display: inline;
  }

  .donate-links {
    display: flex;
    justify-content: center;
  }

  .donate-links > * + * {
    margin-top: 0;
    margin-left: 0.5rem;
  }
}

@media (min-width: 992px) {
  :root {
    --font-size: 18px;
  }

  #overview .grid .grid {
    grid-template-columns: 1fr;
  }

  #overview .grid:last-child {
    grid-column: span 3 / span 3;
  }

  #overview .grid article.tab {
    margin-bottom: 0rem;
    max-height: 570px;
  }

  .tab2 .tab2-links {
    padding: 8px 0;
  }

  .tab2 .tab2-links.active {
    background: none;
    border-bottom: 4px solid #000;
  }

  #how-to-use .container {
    max-width: 48rem;
    padding: 0 var(--block-spacing-horizontal);
  }
}

@media (min-width: 1200px) {
  h1 {
    --font-size: 3rem;
  }
}
