<section class="text-center" style="padding-top: var(--spacing)">
  <div class="container">
    <div class="grid">
      <a
        href="https://www.liputan6.com/tekno/read/4961424/pengembang-indie-lokal-tawarkan-secure-dns-gratis-untuk-koneksi-internet-aman"
        rel="noopener noreferrer"
        target="_blank"
        style="background: none"
      >
        <img src="/img/logo-liputan6.png" alt="Liputan6 logo" width="175" />
      </a>
    </div>
  </div>
</section>