<section id="features">
  <div class="container">
    <hgroup>
      <h2>All modern DNS features to secure your&nbsp;Internet&nbsp;access</h2>
      <h3>
        Experience enhanced Internet security with our comprehensive suite of
        modern DNS features. Safeguard your Internet access with advanced
        protocols, encryption, and protection against threats.
      </h3>
    </hgroup>
    <div class="grid">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M12 1L20.2169 2.82598C20.6745 2.92766 21 3.33347 21 3.80217V13.7889C21 15.795 19.9974 17.6684 18.3282 18.7812L12 23L5.6718 18.7812C4.00261 17.6684 3 15.795 3 13.7889V3.80217C3 3.33347 3.32553 2.92766 3.78307 2.82598L12 1ZM16.4524 8.22183L11.5019 13.1709L8.67421 10.3431L7.25999 11.7574L11.5026 16L17.8666 9.63604L16.4524 8.22183Z"
          ></path>
        </svg>
        <h4>Privacy-Respecting</h4>
        <p>
          We don't log or track your DNS queries, ensuring that your browsing
          activity remains confidential.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M13 10H20L11 23V14H4L13 1V10Z"></path>
        </svg>
        <h4>Fast and Reliable</h4>
        <p>
          Optimized for performance, providing speedy responses for domain name
          resolutions
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M19 10H20C20.5523 10 21 10.4477 21 11V21C21 21.5523 20.5523 22 20 22H4C3.44772 22 3 21.5523 3 21V11C3 10.4477 3.44772 10 4 10H5V9C5 5.13401 8.13401 2 12 2C15.866 2 19 5.13401 19 9V10ZM17 10V9C17 6.23858 14.7614 4 12 4C9.23858 4 7 6.23858 7 9V10H17ZM11 14V18H13V14H11Z"
          ></path>
        </svg>
        <h4>Secure Connections</h4>
        <p>
          Supports DNS over HTTPS, TLS, QUIC, and Tor, securing your queries
          against eavesdropping and tampering.
        </p>
      </div>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path
            d="M6 2H18C18.5523 2 19 2.44772 19 3V21C19 21.5523 18.5523 22 18 22H6C5.44772 22 5 21.5523 5 21V3C5 2.44772 5.44772 2 6 2ZM12 17C11.4477 17 11 17.4477 11 18C11 18.5523 11.4477 19 12 19C12.5523 19 13 18.5523 13 18C13 17.4477 12.5523 17 12 17Z"
          ></path>
        </svg>
        <h4>Easy to Use</h4>
        <p>
          PureDNS can be effortlessly used on your browser, phone, or desktop
          devices. Enjoy secure browsing with ease!
        </p>
      </div>
    </div>
  </div>
</section>
