<footer data-theme="dark">
  <div class="container">
    <ul>
      <li><a href="/#setup-guide" class="contrast">Setup Guide</a></li>
      <li><a href="/#how-to-use" class="contrast">How to Use</a></li>
      <li><a href="https://github.com/fransallen/puredns" class="contrast">GitHub</a></li>
      <li><a href="https://twitter.com/fransallen" class="contrast">Twitter</a></li>
    </ul>
    <ul>
      <li><small>Made by <a href="https://upset.dev/" class="secondary">Frans Allen</a></small></li>
      <li><small><a href="/open/" class="secondary">Open Page</a></small></li>
      <li><small><a href="/privacy/" class="secondary">Privacy Policy</a></small></li>
      <li><small><a href="/terms/" class="secondary">Terms of Service</a></small></li>
    </ul>
  </div>
</footer>
