<footer data-theme="dark">
  <div class="container">
    <ul>
      <li><a href="/#overview" class="contrast">Overview</a></li>
      <li><a href="/#how-to-use" class="contrast">How to Use</a></li>
      <li><a href="/test/" class="contrast">DNS Test</a></li>
      <li><a href="/id/" class="contrast">DNS for Indonesia</a></li>
    </ul>
    <ul>
      <li><small>Made by <a href="https://upset.dev/" class="secondary">Frans Allen</a></small></li>
      <li><small><a href="/open/" class="secondary">Open Stats</a></small></li>
      <li><small><a href="/privacy/" class="secondary">Privacy Policy</a></small></li>
      <li><small><a href="/terms/" class="secondary">Terms of Service</a></small></li>
    </ul>
    <ul>
      <li><small>Already using PureDNS? Try open this address <a href="http://puredns" class="secondary">http://puredns</a></small></li>
    </ul>
  </div>
</footer>
