<footer data-theme="dark">
  <div class="container">
    <ul>
      <li><a href="/#overview" class="contrast">Overview</a></li>
      <li><a href="/#how-to-use" class="contrast">How to Use</a></li>
      <li><a href="/sg/" class="contrast">For Singapore</a></li>
      <li><a href="/id/" class="contrast">For Indonesia</a></li>
    </ul>

    <ul>
      <li><small>Made by <a href="https://x.com/fransallen" class="secondary">Frans Allen</a></small></li>
      <li><small><a href="/about/" class="secondary">About</a></small></li>
      <li><small><a href="/open/" class="secondary">Open Stats</a></small></li>
      <li><small><a href="/privacy/" class="secondary">Privacy Policy</a></small></li>
      <li><small><a href="/terms/" class="secondary">Terms of Service</a></small></li>
    </ul>

    <span>Other Tools</span>
    <ul>
      <li><small><a href="https://statically.io" class="secondary" target="_blank" data-umami-event="footer-link-Statically">Statically</a></small></li>
      <li><small><a href="https://blobcdn.com" class="secondary" target="_blank" data-umami-event="footer-link-BlobCDN">BlobCDN</a></small></li>
      <li><small><a href="https://thedev.id" class="secondary" target="_blank" data-umami-event="footer-link-Fonts">thedev.id</a></small></li>
      <li><small><a href="https://favicone.com" class="secondary" target="_blank" data-umami-event="footer-link-Favicone">Favicone</a></small></li>
      <li><small><a href="https://indiwtf.com" class="secondary" target="_blank" data-umami-event="footer-link-Indiwtf">Indiwtf</a></small></li>
    </ul>
  </div>
</footer>
