<section id="how-to-use">
  <div class="container" style="max-width: 40rem">
    <div
      class="tab2 grid"
      style="border-bottom: 1px solid #ddd; font-size: 18px; margin: auto"
    >
      <a class="tab2-links active" onclick="openTab2(event, 'android')">
        Android
      </a>
      <a class="tab2-links" onclick="openTab2(event, 'ios')">iOS</a>
      <a class="tab2-links" onclick="openTab2(event, 'linux')">Linux</a>
      <a class="tab2-links" onclick="openTab2(event, 'windows')">Windows</a>
      <a class="tab2-links" onclick="openTab2(event, 'macos')">macOS</a>
      <a class="tab2-links" onclick="openTab2(event, 'browsers')">
        Browsers
      </a>
      <a class="tab2-links" onclick="openTab2(event, 'routers')">Routers</a>
      {% if page.url != "/family/" %}
      <a class="tab2-links" onclick="openTab2(event, 'tor')">Tor</a>
      {% endif %}
    </div>
    <article style="margin-top: 2rem; box-shadow: none; padding: 0">
      <div id="android" class="tab2-content" style="display: block">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">Private DNS</h4>
          <small style="font-size: 15px">
            Requires Android 9 or higher
          </small>
        </header>
        <ol>
          <li>
            Go to <strong>Settings</strong> →
            <strong>Network & internet</strong> → <strong>Advanced</strong> →
            <strong>Private DNS</strong>.
          </li>
          <li>
            Select the
            <strong>Private DNS provider hostname</strong> option.
          </li>
          <li>
            Enter <strong>{{ dns_hostname }}</strong> and click
            <strong>Save</strong>.
          </li>
        </ol>

        <header style="margin-top: 2rem; margin-bottom: 1rem">
          <h4 style="margin-bottom: 0">Intra</h4>
        </header>
        <p>
          <a
            href="https://play.google.com/store/apps/details?id=app.intra"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img
              src="/img/google-play.svg"
              alt="Get Intra app on the Google Play"
              width="172"
            />
          </a>
        </p>
        <ol>
          <li>Install <strong>Intra</strong> app from the Play Store.</li>
          <li>
            Go to <strong>Settings</strong> →
            <strong>DNS over HTTPS Server</strong> →
            <strong>Custom server URL</strong>.
          </li>
          <li>
            Enter <strong>https://{{ dns_hostname }}/dns-query</strong> and click
            <strong>Accept</strong>.
          </li>
        </ol>
      </div>

      <div id="ios" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">iOS and iPadOS</h4>
          <small style="font-size: 15px">
            Requires iOS/iPadOS 14 or higher.
          </small>
        </header>
        <ol>
          <li>
            Download our <strong>Apple Configuration Profile</strong> to
            enable
            <strong>Encrypted DNS</strong>
            feature.
          </li>
          <li>
            You can download configuration for
            <a href="/apple/puredns-https.mobileconfig">DoH</a> and/or
            <a href="/apple/puredns-tls.mobileconfig">DoT</a>.
          </li>
          <li>
            Go to <strong>Settings → General → VPN & Device Mangement</strong>
          </li>
          <li>Tap the <strong>Downloaded Profile</strong>.</li>
          <li>
            Tap <strong>Install</strong> in the upper-right corner, then
            follow the onscreen instructions.
          </li>
        </ol>

        <header style="margin-top: 2rem; margin-bottom: 1rem">
          <h4 style="margin-bottom: 0">DNSCloak</h4>
        </header>
        <p>
          <a
            href="https://apps.apple.com/us/app/dnscloak-secure-dns-client/id1452162351"
            rel="noopener noreferrer"
            target="_blank"
          >
            <img
              src="/img/app-store.svg"
              alt="Get DNSCloak app on the App Store"
              width="172"
            />
          </a>
        </p>
        <ol>
          <li>Install <strong>DNSCloak</strong> app from the App Store.</li>
          <li>Search <strong>puredns</strong> using search bar.</li>
          <li>
            Tap <strong>{{ dnscrypt_name }}</strong> and
            <strong>{{ dnscrypt_ipv6_name }}</strong>.
          </li>
          <li>Tap <strong>Use this server</strong>.</li>
        </ol>
      </div>

      <div id="linux" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">Knot Resolver</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://www.knot-resolver.cz/download/"
              rel="noopener noreferrer"
              target="_blank"
            >
              Knot Resolver</a
            >.
          </li>
          <li>
            Use the following in
            <strong>/etc/knot-resolver/kresd.conf</strong>:
          </li>
        </ol>
        <pre><code>policy.add(policy.all(policy.TLS_FORWARD({
  {'{{ ipv4_1 }}', hostname='{{ dns_hostname }}'},
  {'{{ ipv4_2 }}', hostname='{{ dns_hostname }}'},
  {'{{ ipv6_1 }}', hostname='{{ dns_hostname }}'},
  {'{{ ipv6_2 }}', hostname='{{ dns_hostname }}'}
})))</code></pre>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">Stubby</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://dnsprivacy.org/dns_privacy_daemon_-_stubby/#installation"
              rel="noopener noreferrer"
              target="_blank"
              >Stubby</a
            >.
          </li>
          <li>Use the following in <strong>stubby.yml</strong>:</li>
        </ol>
        <pre><code>round_robin_upstreams: 1
  upstream_recursive_servers:
  - address_data: {{ ipv4_1 }}
  tls_auth_name: "{{ dns_hostname }}"
  - address_data: {{ ipv4_2 }}
  tls_auth_name: "{{ dns_hostname }}"
  - address_data: {{ ipv6_1 }}
  tls_auth_name: "{{ dns_hostname }}"
  - address_data: {{ ipv6_2 }}
  tls_auth_name: "{{ dns_hostname }}"</code></pre>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">Unbound</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://www.nlnetlabs.nl/projects/unbound/download/"
              rel="noopener noreferrer"
              target="_blank"
              >Unbound</a
            >.
          </li>
          <li>Use the following in <strong>unbound.conf</strong>:</li>
        </ol>
        <pre><code>forward-zone:
  name: "."
  forward-tls-upstream: yes
  forward-addr: {{ ipv4_1 }}#{{ dns_hostname }}
  forward-addr: {{ ipv4_2 }}#{{ dns_hostname }}
  forward-addr: {{ ipv6_1 }}#{{ dns_hostname }}
  forward-addr: {{ ipv6_2 }}#{{ dns_hostname }}</code></pre>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">DNSCrypt</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://github.com/DNSCrypt/dnscrypt-proxy/wiki/Installation"
              rel="noopener noreferrer"
              target="_blank"
              >DNSCrypt</a
            >.
          </li>
          <li>Use the following in <strong>dnscrypt-proxy.toml</strong>:</li>
        </ol>
        <pre><code>server_names = ['PureDNS']

[static]
  [static.'PureDNS']
  stamp = 'sdns://AgcAAAAAAAAAAAALcHVyZWRucy5vcmcKL2Rucy1xdWVyeQ'</code></pre>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">cloudflared</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://developers.cloudflare.com/cloudflare-one/connections/connect-apps/install-and-setup/installation/"
              rel="noopener noreferrer"
              target="_blank"
              >cloudflared</a
            >.
          </li>
          <li>
            Use the following in
            <strong>/usr/local/etc/cloudflared/config.yml</strong>:
          </li>
        </ol>
        <pre><code>proxy-dns: true
proxy-dns-upstream:
  - https://{{ dns_hostname }}/dns-query</code></pre>
      </div>

      <div id="windows" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">Encrypted DNS</h4>
          <small style="font-size: 15px">
            Requires Windows 10 or higher.
          </small>
        </header>
        <ol>
          <li>Open <strong>Windows Powershell</strong> as <strong>Administrator</strong>.</li>
          <li>
            <p>Run the following to add PureDNS to the <strong>list of known servers</strong>.</p>
            <pre><code>Add-DnsClientDohServerAddress -ServerAddress {{ ipv4_1 }} -DohTemplate https://{{ dns_hostname }}/dns-query 
Add-DnsClientDohServerAddress -ServerAddress {{ ipv4_2 }} -DohTemplate https://{{ dns_hostname }}/dns-query</code></pre>
          </li>
          <li>Open <strong>Settings</strong>.</li>
          <li>
            Navigate to <strong>Network & internet</strong> →
            <strong>Status</strong>.
          </li>
          <li>Click on <strong>Properties</strong>.</li>
          <li>
            Click <strong>Edit</strong> under <strong>DNS settings</strong>.
          </li>
          <li>
            Select the <strong>Manual</strong> option, and then specify
            <strong>Preferred DNS</strong> and
            <strong>Alternate DNS</strong> IP addresses with
            <strong class="monospace">{{ ipv4_1 }}</strong> for
            <strong>Primary</strong> and
            <strong class="monospace">{{ ipv4_2 }}</strong> for
            <strong>Alternate</strong>.
          </li>
          <li>
            Select <strong>Encrypted only (DNS over HTTPS)</strong> for both.
          </li>
        </ol>
        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">YogaDNS</h4>
        </header>
        <ol>
          <li>
            Install
            <a
              href="https://yogadns.com/download/"
              rel="noopener noreferrer"
              target="_blank"
            >
              YogaDNS</a
            >.
          </li>
          <li>
            Go to <strong>Configuration</strong> →
            <strong>DNS Servers</strong> → <strong>Add</strong>.
          </li>
          <li>
            Enter <strong>PureDNS</strong> in the
            <strong>User friendly name</strong>.
          </li>
          <li>
            For <strong>Protocol</strong> you can select
            <strong>DNS over HTTPS</strong>.
          </li>
          <li>
            Specify the <strong>URL</strong> with
            <strong>https://{{ dns_hostname }}/dns-query</strong>.
          </li>
          <li>
            Click <strong>Check</strong> to quickly test the server and click
            <strong>OK</strong>.
          </li>
        </ol>

        <p>
          See
          <a
            href="https://yogadns.com/docs/#servers"
            rel="noopener noreferrer"
            target="_blank"
            >more details</a
          >
          on how to configure YogaDNS.
        </p>
      </div>

      <div id="macos" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">macOS</h4>
          <small style="font-size: 15px">
            Requires macOS Big Sur or newer.
          </small>
        </header>
        <ol>
          <li>
            Download our <strong>Apple Configuration Profile</strong> to
            enable
            <strong>Encrypted DNS</strong>
            feature.
          </li>
          <li>
            You can download configuration for
            <a href="/apple/puredns-https.mobileconfig">DoH</a> and/or
            <a href="/apple/puredns-tls.mobileconfig">DoT</a>.
          </li>
          <li>Open the downloaded <strong>.mobileconfig</strong> file.</li>
          <li>Open <strong>System Preferences</strong>.</li>
          <li>Go to <strong>Profiles</strong>.</li>
          <li>Click <strong>Install</strong>.</li>
        </ol>
      </div>

      <div id="browsers" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">Google Chrome</h4>
        </header>
        <ol>
          <li>Go to <strong>Settings</strong>.</li>
          <li>
            In the <strong>Privacy and security</strong> section, click on
            <strong>Security</strong>.
          </li>
          <li>
            In the <strong>Advanced</strong> section, enable
            <strong>Use secure DNS</strong>.
          </li>
          <li>
            Select With: Custom, then enter
            <strong>https://{{ dns_hostname }}/dns-query</strong>.
          </li>
        </ol>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">Firefox</h4>
        </header>
        <ol>
          <li>Open <strong>Preferences</strong>.</li>
          <li>
            Scroll down to the <strong>Network Settings</strong> section and
            click on <strong>Settings</strong>.
          </li>
          <li>
            Scroll down and check <strong>Enable DNS over HTTPS</strong>.
          </li>
          <li>
            Select Custom, enter
            <strong>https://{{ dns_hostname }}/dns-query</strong> and click
            <strong>OK</strong>.
          </li>
        </ol>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">Microsoft Edge</h4>
        </header>
        <ol>
          <li>Open <strong>Settings</strong>.</li>
          <li>
            Go to the
            <strong>Privacy, search, and services</strong> section.
          </li>
          <li>
            Under <strong>Security</strong>, enable
            <strong>Use secure DNS</strong> to specify how to lookup the
            network address for websites.
          </li>
          <li>
            Select <strong>Choose a service provider</strong>, then enter
            <strong>https://{{ dns_hostname }}/dns-query</strong>.
          </li>
        </ol>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">Brave</h4>
        </header>
        <ol>
          <li>Open <strong>Settings</strong>.</li>
          <li>
            In the <strong>Privacy and security</strong> section (under
            Additional settings), go to <strong>Security</strong>.
          </li>
          <li>
            In the <strong>Advanced</strong> section, enable
            <strong>Use secure DNS</strong>.
          </li>
          <li>
            Select With: Custom, then enter
            <strong>https://{{ dns_hostname }}/dns-query</strong>.
          </li>
        </ol>
      </div>

      <div id="routers" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">IPv4 &amp; IPv6</h4>
        </header>
        <ol>
          <li>
            Sign in to your
            <strong>router's web-based administration</strong>, usually at the
            following address: <code>http://192.168.1.1</code>.
          </li>
          <li>
            Find the <strong>DNS settings</strong> inside the interface.
          </li>
          <li>
            <p>Change addresses (if any), with <strong>IPv4</strong>:</p>
            <pre><code>{{ ipv4_1 }}
{{ ipv4_2 }}</code></pre>
            <p>or with <strong>IPv6</strong> use addresses below:</p>
            <pre><code>{{ ipv6_1 }}
{{ ipv6_2 }}</code></pre>
          </li>
          <li>Click <strong>Save</strong> (or similar).</li>
        </ol>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">pfSense</h4>
        </header>
        <ol>
          <li>
            Navigate to <strong>Services</strong> →
            <strong>DNS Resolver</strong> and on the tab
            <strong>General Settings</strong> scroll down to the
            <strong>Custom Options</strong> box.
          </li>
          <li>Enter the following lines:</li>
        </ol>

        <pre><code>forward-zone:
  name: "."
  forward-tls-upstream: yes
  forward-addr: {{ ipv4_1 }}#{{ dns_hostname }}
  forward-addr: {{ ipv4_2 }}#{{ dns_hostname }}
  forward-addr: {{ ipv6_1 }}#{{ dns_hostname }}
  forward-addr: {{ ipv6_2 }}#{{ dns_hostname }}</code></pre>

        <header
          style="
            margin-top: 2rem;
            margin-bottom: var(--typography-spacing-vertical);
          "
        >
          <h4 style="margin-bottom: 0">MikroTik</h4>
        </header>
        <p>Run the following:</p>

        <pre><code>/tool fetch url=https://curl.se/ca/cacert.pem
/certificate import file-name=cacert.pem
/ip dns set servers=
/ip dns static add name={{ dns_hostname }} address={{ ipv4_1 }} type=A
/ip dns static add name={{ dns_hostname }} address={{ ipv4_2 }} type=A
/ip dns static add name={{ dns_hostname }} address={{ ipv6_1 }} type=AAAA
/ip dns static add name={{ dns_hostname }} address={{ ipv6_2 }} type=AAAA
/ip dns set use-doh-server="https://{{ dns_hostname }}/dns-query" verify-doh-cert=yes</code></pre>
      </div>

      {% if page.url != "/family/" %}
      <div id="tor" class="tab2-content">
        <header style="margin-bottom: var(--typography-spacing-vertical)">
          <h4 style="margin-bottom: 0">DNS over TLS</h4>
        </header>
        <p>Tor usually runs on port <code>9050</code> by default. To use our hidden resolver, we recommend using the <a href="http://www.dest-unreach.org/socat/" rel="noopener noreferrer" target="_blank">socat</a> command.</p>
        <pre><code>PORT=853; socat TCP4-LISTEN:${PORT},reuseaddr,fork SOCKS4A:127.0.0.1:purednsxr4shjkobosrqf7qebwzch3e4ignfr4beq34ngr4nkp2z32id.onion:${PORT},socksport=9050</code></pre>
        <p>Now you can try to test it by sending a query using the <a href="https://www.knot-dns.cz/docs/2.6/html/man_kdig.html" rel="noopener noreferrer" target="_blank">kdig</a> command.</p>
        <pre><code>kdig -d +tls +tls-hostname={{ dns_hostname }} @127.0.0.1 -p 853 {{ dns_hostname }}</code></pre>
      </div>
      {% endif %}
    </article>
  </div>
</section>