<div class="info text-center">
  <div class="container">
    <small>
      A simple tool to check whether your website is blocked in Indonesia or not. Try it now at
      <a
        class="secondary"
        href="https://indiwtf.com/"
        target="_blank"
        data-umami-event="info-indiwtf"
      >
        indiwtf.com
      </a> ✨
    </small>
  </div>
</div>