<div class="grid" style="margin-top: 2.5rem">
  <article>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="36"
      height="36"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M20 9V5H4v4h16zm0 2H4v8h16v-8zM3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm2 9h3v5H5v-5zm0-6h2v2H5V6zm4 0h2v2H9V6z"
        fill="rgba(87,153,241,1)"
      />
    </svg>
    <h2 style="margin-top: 1rem; margin-bottom: 1rem">200M+ Queries/month</h2>
    <ul>
      <li>DNS-over-HTTPS: <strong>66%</strong></li>
      <li>DNS-over-TLS: <strong>23%</strong></li>
      <li>Plain DNS: <strong>11%</strong></li>
    </ul>
  </article>

  <article>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="36"
      height="36"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M2 13h6v8H2v-8zm14-5h6v13h-6V8zM9 3h6v18H9V3zM4 15v4h2v-4H4zm7-10v14h2V5h-2zm7 5v9h2v-9h-2z"
        fill="rgba(255,173,0,1)"
      />
    </svg>
    <h2 style="margin-top: 1rem; margin-bottom: 1rem">
      800GB+ Bandwidth/month
    </h2>
    <ul>
      <li>AWS: <strong>42%</strong></li>
      <li>GCP: <strong>27%</strong></li>
      <li>DO: <strong>31%</strong></li>
    </ul>
  </article>
</div>

<div class="grid">
  <article>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="36"
      height="36"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M5 11h14V5H5v6zm16-7v16a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1zm-2 9H5v6h14v-6zM7 15h3v2H7v-2zm0-8h3v2H7V7z"
        fill="rgba(47,204,113,1)"
      />
    </svg>
    <h2 style="margin-top: 1rem; margin-bottom: 1rem">12+ Servers</h2>
    <ul>
      <li>Amazon Web Services</li>
      <li>Google Cloud</li>
      <li>DigitalOcean</li>
    </ul>
  </article>

  <article>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="36"
      height="36"
    >
      <path fill="none" d="M0 0h24v24H0z" />
      <path
        d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"
        fill="var(--primary)"
      />
    </svg>
    <h2 style="margin-top: 1rem; margin-bottom: 1rem">2 Locations</h2>
    <ul>
      <li>Indonesia</li>
      <li>Singapore</li>
    </ul>
  </article>
</div>
