<section id="overview">
  <div class="container">
    <div class="grid">
      <article class="tab grid" data-theme="dark">
        <button class="tab-links active" onclick="openTab(event, 'dot')">
          DNS over TLS
        </button>
        <button class="tab-links" onclick="openTab(event, 'doh')">
          DNS over HTTPS
        </button>
        <button class="tab-links" onclick="openTab(event, 'doq')">
          DNS over QUIC
        </button>
        {% if page.url != "/family/" %}
        <button class="tab-links" onclick="openTab(event, 'dns-tor')">
          DNS over Tor
        </button>
        {% endif %}
        <button class="tab-links" onclick="openTab(event, 'dnscrypt')">
          DNSCrypt
        </button>
        <button class="tab-links" onclick="openTab(event, 'dns')">DNS</button>
      </article>
      <article class="grid">
        <div id="dot" class="tab-content" style="display: block">
          <h3>Using DNS over TLS</h3>
          <p>
            We provide DNS over TLS support on standard port
            <strong>853</strong>. To start using PureDNS with DNS over TLS,
            you can use the following address.
          </p>

          <pre><code>{{ dns_hostname }}</code></pre>

          <p>
            Learn how to configure DNS over TLS on your device with the setup
            guide below.
          </p>
        </div>

        <div id="doh" class="tab-content">
          <h3>Using DNS over HTTPS</h3>
          <p>
            DNS over HTTPS support is available on standard port
            <strong>443</strong>. Our DoH servers support
            <strong>HTTP/2</strong> for fast
            lookup results and to avoid blocking from ISPs.
          </p>

          <pre><code>https://{{ dns_hostname }}/dns-query</code></pre>
        </div>

        <div id="doq" class="tab-content">
          <h3>Using DNS over QUIC</h3>
          <p>DNS over QUIC is known to be much faster than DNS over TLS, and is now available under port <strong>853/UDP</strong>.</p>
          <p>To use PureDNS with DoQ, you may want to use a client like
            <a
              href="https://github.com/AdguardTeam/AdGuardHome"
              rel="noopener noreferrer"
              target="_blank"
            >
              AdGuard Home
            </a>
            or
            <a
              href="https://github.com/AdguardTeam/dnsproxy"
              rel="noopener noreferrer"
              target="_blank"
            >
              dnsproxy.
            </a>
          </p>

          <pre><code>quic://{{ dns_hostname }}</code></pre>
        </div>

        {% if page.url != "/family/" %}
        <div id="dns-tor" class="tab-content">
          <h3>Using DNS over Tor</h3>
          <p>
            We support DNS over Tor so that users are able to query domains anonymously. Now available at
          <p>

          <pre><code>purednsxr4shjkobosrqf7qebwzch3e4ignfr4beq34ngr4nkp2z32id.onion</code></pre>

          <p>
            To use the PureDNS Hidden Resolver service please refer to <a href="#how-to-use">setup guide</a> below.
          </p>
        </div>
        {% endif %}

        <div id="dnscrypt" class="tab-content">
          <h3>Using DNSCrypt</h3>
          <p>
            PureDNS can be used with
            <a
              href="https://github.com/DNSCrypt/dnscrypt-proxy"
              rel="noopener noreferrer"
              target="_blank"
            >
              DNSCrypt
            </a>
            as a client by using <strong>DNS Stamps</strong>. Use the
            following DNS stamp in your DNSCrypt configuration.
          </p>

          <pre><code>{{ dnsstamp }}</code></pre>

          <p>
            You can verify the DNS stamp above using
            <a
              href="https://dnscrypt.info/stamps/"
              rel="noopener noreferrer"
              target="_blank"
            >
              this tool
            </a>
            provided by the official DNSCrypt team.
          </p>
        </div>

        <div id="dns" class="tab-content">
          <h3>Using Plain DNS</h3>
          <p>
            While we don't recommend using unencrypted DNS (standard port
            <strong>53</strong>) for your personal internet, there are some of us
            who want this support as part of their implementation; like using
            PureDNS on Routers. Use the IP addresses below to start using
            PureDNS.
          </p>

          <h6>For IPv4</h6>
          <pre><code>{{ ipv4_1 }}
{{ ipv4_2 }}</code></pre>

<h6>For IPv6</h6>

<pre><code>{{ ipv6_1 }}
{{ ipv6_2 }}</code></pre>
        </div>
      </article>
    </div>
  </div>
</section>

<div
  class="adshomepage container"
  style="margin-top: -1rem; margin-bottom: 1rem"
>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-7675288227309864"
    data-ad-slot="8297264409"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
</div>
