---
title: PureDNS | Secure and Fast Internet
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {%- set subtitle %}{{ newstitle or title }}{% endset %}
		{%- set subtitleText %}{{ title }}{% if subtitle and subtitle != "PureDNS | Secure and Fast Internet" %} | PureDNS{% endif %}{% endset %}
    <title>{{ subtitleText }}</title>
    <meta name="description" content="{{ subtitle }}" />
    <meta property="og:description" content="{{ subtitle }}" />
    <meta property="og:title" content="{{ subtitleText }}" />
    <meta property="og:site_name" content="PureDNS" />
    <meta property="og:url" content="https://puredns.org{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://puredns.org/img/og.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@fransallen" />
    <meta name="twitter:creator" content="@fransallen" />

    <link rel="preconnect" href="https://cdn.statically.io">
    <link rel="preconnect" href="https://fonts.upset.dev">

    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />

    <link rel="stylesheet" href="https://cdn.statically.io/gh/picocss/pico/master/css/pico.min.css"/>
    <link rel="stylesheet" href="https://fonts.upset.dev/css2?family=Inter:wght@400;700&amp;display=swap"/>

    {%- set css %}
    {% include "css/app.css" %}
    {% if page.url == "/family/" %}
    {% include "css/family.css" %}
    {% endif %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    <script
      async
      src="https://api-scout.vercel.app/app"
      data-website-id="2c2bc413-b836-4047-9c31-ac650a796552"
    ></script>
  </head>
  <body>
    {% include "components/header.njk" %}

    {{ content | safe }}

    {% include "components/footer.njk" %}

    {%- set js %}
    {% include "js/app.js" %}

    {% if page.url == "/test/" %}
    {% include "js/test.js" %}
    {% endif %}
    {% endset %}

    {% if page.url == "/test/" %}
    <script src="https://cdn.statically.io/js/unpkg.com/canvas-confetti@1.5.1/dist/confetti.browser.js"></script>
    {% endif %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </body>
</html>
