---
layout: layouts/base.njk
permalink: /id/
---

{% set ipv4_1 = "108.136.97.40" %}
{% set ipv4_2 = "108.137.15.53" %}
{% set ipv6_1 = "2406:da19:66f:e800:6d8b:e4ce:f95a:6a33" %}
{% set ipv6_2 = "2406:da19:66f:e820:2583:44dd:dc3b:f89a" %}

<main style="padding-top: 1rem">
  {% include "components/as-seen-on.njk" %}
  {% include "components/setup-guide.njk" %}
  {% include "components/how-to-use.njk" %}
  {% include "components/support-us.njk" %}
</main>
