---
layout: layouts/base.njk
---

{% set dns_hostname = "puredns.org" %}
{% set ipv4_1 = "108.136.97.40" %}
{% set ipv4_2 = "108.137.15.53" %}
{% set ipv6_1 = "2406:da19:66f:e800:33a8:9450:d6d1:ecd4" %}
{% set ipv6_2 = "2406:da19:66f:e820:fd8b:42c7:d1a4:d100" %}

<main style="padding-top: 1rem">
  {% include "components/as-seen-on.njk" %}
  {% include "components/overview.njk" %}
  {% include "components/how-to-use.njk" %}
  {% include "components/support-us.njk" %}
</main>
