---
layout: layouts/base.njk
title: Open Stats
eleventyNavigation:
  key: Open Stats
  url: /open/
  order: 3
---

<main class="openpage">
  <section>
    <div class="container">
      <hgroup style="margin-bottom: 2.5rem">
        <h1>Open Stats</h1>
        <h3>PureDNS operates fully transparent and this page is intended to share our metrics, like cost, traffic and uptime.</h3>
      </hgroup>
      
      <p>
        <strong>PureDNS' mission is to help build a better, safer and faster Internet for people.</strong> Initiated as a privacy-respecting DNS resolver because DNS is a critical part of all aspects of the Internet systems. Currently, our work is to advocate for secure DNS implementation in Indonesia.
      </p>

      <p>Help us reach <strong>$1000</strong>/month or <strong>Rp14.000.000</strong>/month so we can continue this effort.</p>

      <a
        href="https://saweria.co/fransallen"
        role="button"
        class="contrast"
        aria-label="Donate via Saweria"
        rel="noopener noreferrer"
        target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0H24V24H0z"/><path d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"/></svg>
        <span style="margin-left: 5px">Donate now</span>
      </a>

      <div style="margin-top: 3rem">
        <progress id="progress" value="100000" max="14000000"></progress>
        <small>We are currently at <strong><span id="currentTotalAmount">Rp -</span></strong>, still <strong><span id="targetTotalAmount">Rp -</span></strong> more to go to make PureDNS financially stable. Progress is shown in percentage (%).</small>
      </div>

      {% include "components/metrics.njk" %}
  </section>

  <section>
    <div class="container">
      <h2 class="text-center">Top Supporters</h2>
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col"><strong>Name</strong></th>
              <th scope="col"><strong>Amount</strong></th>
            </tr>
          </thead>
          <tbody id="leaderboard"></tbody>
          <tfoot>
            <tr>
              <td></td>
              <td id="totalAmount"></td>
            </tr>
          </tfoot>
        </table>
      </article>
      <p style="text-align: right"><small><em>Verified by Saweria.co and updated live.</em></small></p>
    </div>
  </section>

  <section>
    <div class="container text-center">
      <h2>System Uptime</h2>
      <article class="sm:p-0">
        <iframe src="https://status.puredns.org/" frameborder="0" width="100%" height="600"></iframe>
      </article>
    </div>
  </section>

  <section>
    <div class="container text-center">
      <a href="/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11.828 12l2.829 2.828-1.414 1.415L9 12l4.243-4.243 1.414 1.415L11.828 12z"/></svg>
        Back to homepage
      </a>
    </div>
  </section>
</main>
